.section-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.subsection-2 {
  display: flex;
}

#button-well-2 {
  border-radius: 10px;
  color: #141414;
  margin-left: 60px;
  background-color: #f5f5f5;
}

#from-currency {
  margin-right: 30px;
}

#to-currency {
  margin-right: 30px;
}

#button-4 {
  border-radius: 10px;
  color: #141414;
  margin-left: 60px;
  background-color: #fa612a;
}
