.section-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.subsection-3 {
  display: flex;
}

#button-well-3 {
  border-radius: 10px;
  color: #141414;
  margin-left: 60px;
  background-color: #f5f5f5;
}

#date-picker-1 {
  margin-right: 30px;
}

#currency {
  margin-left: 30px;
}

#button-4 {
  border-radius: 10px;
  color: #141414;
  margin-left: 60px;
  background-color: #fa612a;
}
